billing_account_id = "123456-123456-123456"
parent             = "folders/123456789"
host_project_id    = "my-host-project"
service_project_id = "my-service-project"
hostname           = "test.myorg.org"